langchain
langchain-openai
langchain_community
python-dotenv
streamlit
langchain_core
langchain-groq
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
duckduckgo-search
SQLAlchemy
mysql-connector-python
youtube-transcript-api
pytube
validators==0.28.1
youtube_transcript_api
Unstructured
pytubefix
yt-dlp